#confirmIcon {
    border: 5px solid #52973A;
    background: white;
    margin: 5.5px;
}

.bodyContainer {
    display: flex;
    justify-content: space-between;
}

.mainBodyContainer {
    width: 99vw;
    display: flex;
    flex-flow: row;
}

.headerFormText {
    letter-spacing: 0.1em;
    text-align: left;
    font-size: 5.75vh;
    font-weight: 500;
    color: aliceblue;
    margin: 10px 30px 5px 30px;
    text-shadow: -2px -2px 4px #000;
    text-shadow: 2px 2px 4px #000;
    text-shadow: -6px -6px 4px rgb(18, 70, 38);
    text-shadow: 6px 6px 4px rgb(18, 70, 38);
    text-shadow: -6px -6px 4px rgb(18, 70, 38);
    text-shadow: 6px 6px 4px rgb(18, 70, 38);
    text-shadow: -4px -4px 2px rgb(18, 70, 38);
    text-shadow: 4px 4px 2px rgb(18, 70, 38);
    text-shadow: -4px -4px 4px rgb(18, 70, 38);
    text-shadow: 4px 4px 4px rgb(18, 70, 38);
    text-shadow: -2px -2px 2px #000;
    text-shadow: 2px 2px 2px #000;
    text-shadow: 1px 1px 2px #000;
    text-shadow: 1px 1px 4px rgb(18, 70, 38);
    text-shadow: 1px 1px 6px rgb(18, 70, 38);
    text-shadow: 1px 1px 4px rgb(18, 70, 38);
    text-shadow: 1px 1px 6px rgb(18, 70, 38);
    text-shadow: 1px 1px 8px #418628;
    text-shadow: -1px -1px 8px #418628;
    text-shadow: 1px 1px 8px #418628;
    text-shadow: 1px 1px 8px #418628;
  }

  .formFirstline, .formSecondline, .formForthline, .formFifthline {
      display: flex;
  }

.formDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 87vw;
    min-width: 50vw;
    border-radius: 20px;
    background: rgba(183, 214, 170, 0.95);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.formleftContainerCon {
    margin: 15px 0px 25px 0px;
    padding: 8px 5px 8px 0px;
}

.inlineContainerCon {
    display: flex;
    flex-direction: row;
    margin: 5px 20px;
}

.lineContainerCon {
    display: flex;
    flex-direction: row;
}

.labelPartCon {
    color: #418628;
    font-size: 2.5vh;
    margin: 3px 10px;
    text-align: left;
    font-size: 14px;
}

.searchByGoogleMapsBtn {
    margin: 15px 20px;
    padding: 8px;
    width: 20vw;
    height: 40px;
    background: #f0c400;
    border: 2.5px solid white;
    border-radius: 20px;
    color: white;
    font-size: 2vh;
}

.inputPartCon {
    width: 17.5vw;
    background: rgba(255, 255, 255, 0.4);
    border: 0px solid #79c061;
    border-radius: 4px;
    height: 3.25vh;
    padding-left: 12px;
}

#lastNameCon {
    width: 17vw;
}

#addressCon {
    width: 32.25vw;
}

#telCon {
    width: 13.5vw;
}

#emailCon {
    width: 17.5vw;
}

#districtlbCon, #provincelbCon {
    margin: 0;
    margin-right: 10px;
}

#subDistrictlbCon {
    margin: 0 10px;
}

#subDistrictCon, #districtCon, #provinceCon {
    width: 7.9vw;
}

.selectMainCon {
    padding-left: 12px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    height: 3.25vh;
}

#selectCampCon {
    width: 34.2vw;
}

#typeTrashCon {
    width: 33.4vw;
}

#selectDateCon {
    width: 32.4vw;
}

#selectTimeCon {
    width: 30.2vw;
}

#additionalCon {
    height: 30px;
    display: flex;
    align-items: center;
    width: 39.5vw;
}

.radioPartCon {
    width: 15px;
    height: 15px;
}

.buttonrow {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 12px 0;
}

.buttonForm {
    margin: 0 10px;
    height: 40px;
    width: 14vw;
    border-radius: 20px;
    border: none;
    font-size: 1.2vw;
    cursor: pointer;
}

#buttonBack {
    background: white;
    color: #418628;
}

#buttonReset {
    background:  rgb(172, 57, 28);
    color: white;
}

#buttonSubmit {
    background: #418628;
    color: white;
}

.footerContainer {
    /* width: 100%; */
    padding: 10px 15px 20px 15px;
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(5px);
}

.leftfooter {
    display: flex;
}

.footerColumn1 {
    width: 20vw;
    padding: 5px 15px;
    color: #52973A;
}

.textHeadingcontactFooterColumn1 {
    font-size: 15px;
    color: #52973A;
}
.textDetailcontactFooterColumn1 {
    font-size: 9px;
    color: #52973A;
}

.footerColumn2 {
    width: 9vw;
    padding: 5px 15px;
    color: #52973A;
}

.detailcontactFooterColumn2 {
    padding-left: 10px;
}

.textDetailcontactFooterColumn2 {
    font-size: 9px;
    color: #52973A;
}

.headingcontactFooterColumn3 {
    color: #52973A;
}

.textDetailcontactFooterColumn3 {
    font-size: 9px;
    color: #52973A;
}

.detailcontactFooterColumn3 {
    padding-left: 10px;
}

.footerColumn5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imgDecDiv {
    padding-left: 15px;
    width: 31vw;
    height: 400px;
    background: url("./images/project_decoration_image01.png");
    background-position: left;
    background-size: cover;
}